<h1>Liste de toutes mes tâches</h1>


<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %>   </h2>
  <p>    <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "toto" %> </p>
<% end %>

<p>
  <%= link_to "New Task", task_new_path %>
</p>
